<!--
  Generated template for the ModalChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title> 
      <ion-icon ios="ios-key" md="md-key" class="padding-right-10"></ion-icon>
        Change Password
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close" item-end></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <form [formGroup]="changePassForm" (ngSubmit)="submit()" novalidate>

    <ion-item [ngClass]="{'has-error': (changePassForm.get('oldPass').touched || changePassForm.get('oldPass').dirty) && !changePassForm.get('oldPass').valid }">

      <ion-label floating>Existing Password</ion-label>
      <ion-input type="password" formControlName="oldPass"></ion-input>

    </ion-item>

    <div class="help-block" *ngIf="(changePassForm.get('oldPass').touched || changePassForm.get('oldPass').dirty) && changePassForm.get('oldPass').errors">

      <ion-label text-wrap *ngIf="changePassForm.get('oldPass').errors?.required" class="alert alert-danger error-txt-padding">
          * Please enter old password.
      </ion-label>

    </div>

    <div formGroupName="passwordGrp" [ngClass]="{'has-error': changePassForm.get('passwordGrp').errors }">

      <ion-item [ngClass]="{'has-error': (changePassForm.get('passwordGrp.newPass').touched || changePassForm.get('passwordGrp.newPass').dirty) && !changePassForm.get('passwordGrp.newPass').valid }">

        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="newPass"></ion-input>

      </ion-item>

      <div class="help-block" *ngIf="(changePassForm.get('passwordGrp.newPass').touched || changePassForm.get('passwordGrp.newPass').dirty) && changePassForm.get('passwordGrp.newPass').errors">
          
        <ion-label text-wrap *ngIf="changePassForm.get('passwordGrp.newPass').errors.required" class="alert alert-danger error-txt-padding">
            * Please enter new password.
        </ion-label>

        <ion-label text-wrap *ngIf="changePassForm.get('passwordGrp.newPass').errors.pattern" class="alert alert-danger error-txt-padding">
            * The password must have at least 8 characters with minimum one letter and one number.
        </ion-label>

      </div>
      
      <ion-item [ngClass]="{'has-error': (changePassForm.get('passwordGrp.newPassRepeat').touched || changePassForm.get('passwordGrp.newPassRepeat').dirty) && !changePassForm.get('passwordGrp.newPassRepeat').valid }">
        
        <ion-label floating>Repeat New Password</ion-label>
        <ion-input type="password" formControlName="newPassRepeat"></ion-input>

      </ion-item>

      <div class="help-block" *ngIf="(changePassForm.get('passwordGrp.newPassRepeat').touched || changePassForm.get('passwordGrp.newPassRepeat').dirty) && (changePassForm.get('passwordGrp.newPassRepeat').errors || changePassForm.get('passwordGrp').errors)">
          
        <ion-label text-wrap *ngIf="changePassForm.get('passwordGrp.newPassRepeat').errors?.required" class="alert alert-danger error-txt-padding">
            * Please re-enter password.
        </ion-label>

        <ion-label text-wrap *ngIf="changePassForm.get('passwordGrp').errors?.match" class="alert alert-danger error-txt-padding">
            * The passwords you enter does not match.
        </ion-label>

      </div>

    </div>
    
  </form>

</ion-content>

<ion-footer no-border>
  <ion-row>
    <ion-col col-6>
      <button ion-button block type="submit" color="primary" [disabled]="!changePassForm.valid" (click)="submit()"> Change Password</button>  
    </ion-col>
    <ion-col col-6>
      <button ion-button block (click)="closeModal()" color="danger"> Cancel</button>  
    </ion-col>
  </ion-row>
</ion-footer>
