<!--
  Generated template for the InDFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <ion-icon ios="ios-document" md="md-document" class="padding-right-10"></ion-icon>
      {{ mode == 0? 'I&D Form' : 'Edit I&D' }}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openGPSModal()">
        <ion-icon ios="ios-pin" md="md-pin" item-end></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content [style.opacity]="isModal ? 0 : 1">
  <form [formGroup]="InDForm" novalidate>
    
      <ion-item-divider color="light" text-center text-uppercase>
        <strong>Premise Details</strong>
      </ion-item-divider>

      <ion-item no-lines>
        <ion-label>Premise Owner Cooperation</ion-label>
        <ion-checkbox formControlName="p_cooperation"></ion-checkbox>
      </ion-item>

      <ion-row>
        <ion-item no-lines col-6>
          <ion-label>Empty</ion-label>
          <ion-checkbox id="p_empty" formControlName="p_empty" (ionChange)="toggleEmptyToClose($event)"></ion-checkbox>
        </ion-item>
        <ion-item no-lines col-6>
          <ion-label>Closed</ion-label>
          <ion-checkbox id="p_empty" formControlName="p_close" (ionChange)="toggleCloseToEmpty($event)"></ion-checkbox>
        </ion-item>
      </ion-row>

      <ion-item>
        <ion-label floating>Full Name</ion-label>
        <ion-input type="text" formControlName="po_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>IC. No</ion-label>
        <ion-input type="text" formControlName="po_id"></ion-input>
      </ion-item>

      <div class="help-block" *ngIf="(InDForm.get('po_id').touched || InDForm.get('po_id').dirty) && InDForm.get('po_id').errors">
        <div padding-left padding-right>
          <ion-label text-wrap *ngIf="InDForm.get('po_id').errors.pattern" class="alert alert-danger error-txt-padding">
            * The IC number must be 12 numeric characters.
          </ion-label>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text" formControlName="p_shortAddr"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>No. of Family Members</ion-label>
        <ion-input type="number" formControlName="no_familyMember"></ion-input>
      </ion-item>

      <div class="help-block" *ngIf="(InDForm.get('no_familyMember').touched || InDForm.get('no_familyMember').dirty) && (InDForm.get('no_familyMember').errors || InDForm.get('no_familyMember').errors)">
        <ion-label text-wrap *ngIf="InDForm.get('no_familyMember').errors?.min" class="alert alert-danger error-txt-padding">
          * The number of family members must bigger than 0.
        </ion-label>
      </div>

      <ion-item>
        <ion-label floating>No. of Fever Member</ion-label>
        <ion-input type="number" formControlName="no_fever"></ion-input>
      </ion-item>

      <div class="help-block" *ngIf="(InDForm.get('no_fever').touched || InDForm.get('no_fever').dirty) && (InDForm.get('no_fever').errors || InDForm.get('no_fever').errors)">
        <ion-label text-wrap *ngIf="InDForm.get('no_fever').errors?.min" class="alert alert-danger error-txt-padding">
          * The number of fever member must bigger than 0.
        </ion-label>
      </div>

      <ion-item-divider color="light" text-center text-uppercase margin-top text-wrap>
        <strong>Aedes Mosquitoes Larvae Breeding Finding</strong>
      </ion-item-divider>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Outside</ion-label>
            <ion-input type="number" formControlName="no_out_breeding"></ion-input>
          </ion-item>
          <div class="help-block" *ngIf="(InDForm.get('no_out_breeding').touched || InDForm.get('no_out_breeding').dirty) && (InDForm.get('no_out_breeding').errors || InDForm.get('no_out_breeding').errors)">
            <ion-label text-wrap *ngIf="InDForm.get('no_out_breeding').errors?.min" class="alert alert-danger error-txt-padding">
              * The number must bigger than 0.
            </ion-label>
          </div>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Inside</ion-label>
            <ion-input type="number" formControlName="no_in_breeding"></ion-input>
          </ion-item>
          <div class="help-block" *ngIf="(InDForm.get('no_in_breeding').touched || InDForm.get('no_in_breeding').dirty) && (InDForm.get('no_in_breeding').errors || InDForm.get('no_in_breeding').errors)">
            <ion-label text-wrap *ngIf="InDForm.get('no_in_breeding').errors?.min" class="alert alert-danger error-txt-padding">
              * The number must bigger than 0.
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label floating>Container Type</ion-label>
        <ion-input type="text" formControlName="container_type"></ion-input>
      </ion-item>

      <ion-item-divider color="light" text-center text-uppercase margin-top  text-wrap>
        <strong>Potential Aedes Mosquitoes Larvae Breeding Finding</strong>
      </ion-item-divider>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Outside</ion-label>
            <ion-input type="number" formControlName="no_pot_out_breeding"></ion-input>
          </ion-item>
          <div class="help-block" *ngIf="(InDForm.get('no_pot_out_breeding').touched || InDForm.get('no_pot_out_breeding').dirty) && (InDForm.get('no_pot_out_breeding').errors || InDForm.get('no_pot_out_breeding').errors)">
            <ion-label text-wrap *ngIf="InDForm.get('no_pot_out_breeding').errors?.min" class="alert alert-danger error-txt-padding">
              * The number must bigger than 0.
            </ion-label>
          </div>
        </ion-col>
        <ion-col col-6>
          <ion-item >
            <ion-label floating>Inside</ion-label>
            <ion-input type="number" formControlName="no_pot_in_breeding"></ion-input>
          </ion-item>
          <div class="help-block" *ngIf="(InDForm.get('no_pot_in_breeding').touched || InDForm.get('no_pot_in_breeding').dirty) && (InDForm.get('no_pot_in_breeding').errors || InDForm.get('no_pot_in_breeding').errors)">
            <ion-label text-wrap *ngIf="InDForm.get('no_pot_in_breeding').errors?.min" class="alert alert-danger error-txt-padding">
              * The number must bigger than 0.
            </ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-item-divider color="light" text-center text-uppercase margin-top text-wrap>
        <strong>Action</strong>
      </ion-item-divider>
      
      <ion-item no-lines>
        <ion-label>Abating</ion-label>
        <ion-checkbox formControlName="act_abating"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Destroy Breeding Area</ion-label>
        <ion-checkbox formControlName="act_destroy"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Education</ion-label>
        <ion-checkbox formControlName="act_education"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Pamphlet</ion-label>
        <ion-checkbox formControlName="act_pamphlet"></ion-checkbox>
      </ion-item>
  </form>

  <ion-row>
    <ion-col col>
      <button ion-button block [outline]="exhibitData == null ? true : false" (click)="openExhibitModal()">Exhibit</button>
    </ion-col>
    <ion-col col>
      <button ion-button block outline [outline]="sek8Data == null ? true : false" (click)="openSek8Modal()">Sek. 8</button>
    </ion-col>
    <ion-col col>
      <button ion-button block outline [outline]="sek5Data == null ? true : false" (click)="openSek5Modal()">Sek. 5</button>
    </ion-col>
  </ion-row>

  <hr>

  <ion-row>
    <ion-col col-6>
      <button ion-button block (click)="submit()" [disabled]="!InDForm.valid">
        <ion-icon ios="ios-add-circle" md="md-add-circle" class="padding-right-10"></ion-icon>
        {{ mode == 0 ? 'Save I&D' : 'Edit I&D' }}
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button block color="danger" (click)="cancelInd()">
        <ion-icon ios="ios-trash" md="md-trash" class="padding-right-10"></ion-icon>
        Cancel
      </button>
    </ion-col>
  </ion-row>
</ion-content>