<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon ios="ios-home" md="md-home" class="padding-right-10"></ion-icon>
       Today Assignment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-label class="alert alert-info" *ngIf="emptyAssignment"><strong>NOTE</strong>   You do not have assignment today.</ion-label>

  <!-- <div #content></div> -->
  <ion-card *ngFor="let assignment of assignments" text-wrap>
    <ion-list (click)="assignmentClick(assignment.assignment_id)">
      
      <ion-item>
        <ion-row>
          <h2 col-5>
            <strong>Team</strong>
          </h2>
          <p col-7>{{assignment.team}}</p>
        </ion-row>
      </ion-item>
  
      <ion-item>
        <ion-row>
          <h2 col-5>
            <strong>Postcode</strong>
          </h2>
          <p col-7>{{assignment.postcode}}</p>
        </ion-row>
      </ion-item>
  
      <ion-item>
        <ion-row>
          <h2 col-5>
            <strong>Address</strong>
          </h2>
          <p col-7>{{assignment.address}}</p>
        </ion-row>
      </ion-item>
  
      <ion-item>
        <ion-row>
          <h2 col-5>
            <strong>Remark</strong>
          </h2>
          <p col-7>{{assignment.remark}}</p>
        </ion-row>
      </ion-item>
  
    </ion-list>
  </ion-card>

</ion-content>
