// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//overwritting existing styles
.item-md{
    padding-right: 16px;
}

.f_1-8{
    font-size: 1.8rem;
}

.f_2-0{
    font-size: 2.0rem;
}

.txt-error{
    color: maroon;
}

.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-info{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.margin-10{
    margin: 10px;
}

.padding-10{
    padding: 10px;
}

.padding-15{
    padding: 15px;
}

.padding-right-10{
    padding-right: 10px;
}

.modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.white-backdrop{
    ion-backdrop{
        background-color: white !important;
        opacity: 0 !important;
    }
}

.ios .modal-fullscreen { .modal-wrapper { top: 26px; } }
