page-modal-gps {
    #mapCanvas {
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: inline-block;
      }
}

.ios {
    page-modal-gps{
        ion-footer ion-row{
            margin-bottom: 26px;
        }
    }
}